:root{
    --PrimaryColor : hsl(94,59%,35%);
    --HoverColor : #bdf094;
    --paleGreen : hsl(96, 75%, 89%);
    --whiteColor : hsl(0,0%, 100%);
    --blackColor : hsl(0, 0%, 18%);
    --textColor : hsl(240,1%,48%);
    --bgColor : hsl(220,10%,94%);
    --greyText: rgb(190,190,190);
    --inputColor : hsl(330,12%,97%);
    --darkGreen : hsl(120, 50%, 20%);


    --biggestFontSize : 2.5rem;
    --h1FontSize : 1.5rem;
    --h2FontSize : 1.25rem;
    --h3FontSize : 1rem;
    --normalFontSize : .938rem;
    --smallFontSize: .813rem; 
    --smallestFontSize: .75rem; 

}

.listingSection{
    .paramContainer{
        display: flex;
        padding-top: 2rem;
        background: var(--bgColor);
        position: relative;
        width: 60vw;
        height: 23vw;
        
        align-items: center;
        justify-content: center;
    
        overflow: hidden;
        border-radius: 1rem;
        

        .header {
            display: flex;
            align-items: center;
            position: absolute;
            top: 1rem;
            left: 1rem;
            display: flex;
            align-items: center;

            img {
                width: 50px;
                height: 50px;
                border-radius: 50%;
            }
              
            .imageTitle {
                font-size: var(--h2FontSize);
                color: var(--darkGreen);
                font-weight: 500;
                margin-left: 10px;
                
            }
        }

        .humidity-container{
            width: 170px;
            height: 145px;
            display: flex;
            padding-top: 2rem;
            background: #004137;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            border-radius: 1rem;
            position: absolute;
            top: 7rem;
            left: 3rem;

            
            img{
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    position: absolute;
                    top: 15%;
                    left: 50%;
                    transform: translateX(-50%);
                }


            .humidity-percentage{
                color: var(--whiteColor);
                font-weight:500;                
            }

            .percentageText{
                .infoicon{
                    margin-right: .3rem;
                }
                color: var(--whiteColor);
                font-size:x-small;
                position: absolute;
                top: 73%;
            }

        }

        .temperature-container{
            width: 170px;
            height: 145px;
            display: flex;
            padding-top: 2rem;
            background: white;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            border-radius: 1rem;
            position: absolute;
            top: 7rem;
            left: 19rem;
            box-shadow: 2px 2px 8px var(--greyText);

            
            img{
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    position: absolute;
                    top: 15%;
                    left: 50%;
                    transform: translateX(-50%);
                }


            .temperature-percentage{
                color: var(--blackColor);
                font-weight:500;                
            }

            .percentageText{
                .infoicon{
                    margin-right: .3rem;
                }
                color: var(--blackColor);
                font-size:x-small;
                position: absolute;
                top: 73%;
            }

        }

        .moisture-container{
            width: 170px;
            height: 145px;
            display: flex;
            padding-top: 2rem;
            background: white;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            border-radius: 1rem;
            position: absolute;
            top: 7rem;
            left: 35rem;
            box-shadow: 2px 2px 8px var(--greyText);

            
            img{
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    position: absolute;
                    top: 15%;
                    left: 50%;
                    transform: translateX(-50%);
                }


            .temperature-percentage{
                color: var(--blackColor);
                font-weight:500;                
            }

            .percentageText{
                .infoicon{
                    margin-right: .3rem;
                }
                color: var(--blackColor);
                font-size:x-small;
                position: absolute;
                top: 73%;
            }

        }
        
    }
}